body {
    max-width: 1350px;
    margin: 0 auto;
}

header,
div,
nav,
main,
article,
section,
img,
p {
    margin: 5px;
    font-family: 'Sedgwick Ave Display', cursive;
}

.img-size {
    width: 100px;
    height: 100px;
}

.righttitle {
    width: 65%;
    margin: 0 auto;
}

.divider,
footer,
.forms {
    clear: both;
}

header,
.righttitle,
main,
.python,
.html,
.javascript,
.framework,
.footer,
.social {
    overflow: auto;
}

.title-nav {
    float: left;
    width: 40%;
    margin-top: 30px;
}

.title-nav a {
    margin-left: 10px;
}

.imgtitle {
    float: right;
    width: 50%;
    margin-right: 70px;
}

.imgsize {
    width: 350px;
    height: 90px;
}

.title,
.leftcolumn {
    text-align: center;
}

#msg {
    width: 320px;
}

.rightsection {
    width: 65%;
    margin: 0 auto;
}

.pythonimg,
.htmlimg,
.javascriptimg,
.frameworktimg {
    float: left;
}

.pythonabout,
.htmlabout,
.javascriptabout,
.frameworkabout {
    float: right;
    width: 80%;
    margin-right: 30px;
}

.title-python,
.title-html,
.title-javascript,
.title-framework {
    float: left;
    width: 30%;
    text-align: center;
}

.pythondefinition,
.htmldefinition,
.javascriptdefinition,
.frameworkdefinition {
    float: right;
    width: 65%;
    text-align: center;
    margin-top: 20px;
}

.pythonlinks,
.htmllinks,
.javascriptlinks,
.frameworklinks {
    clear: both;
    text-align: center;
}

footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
    max-width: 1350px;
    margin-left: 120px;
    clear:both;
}

.phone,
.email,
.social,
b,
.facebooklink {
    float: left;
}

.socialimg {
    width: 20px;
    height: 20px;

}

.autorth-profile {
    margin-top: 5px;
}

#clock {
    float: right;
}


.form {
    margin: 0 auto;
    text-align: center;
}

#pythondefinition,
#htmldefinition,
#javascriptdefinition,
#frameworkdefinition {
    font-size: 24px;
}
